html {
  display: table;
  margin: auto;
}

.login-form {
  width: 400px;
}

body {
  display: table-cell;
  vertical-align: middle;
}

html, body {
  height: 100%;
}

.margin {
  margin: 0 !important;
}

.input-field label {
  height: 0;
}

.logo {
  height: 100px;
  width: 100px;
}

.login-form-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.medium-small {
  font-size: 0.9rem;
  padding: 0;
}

input.invalid:not([type]) + label::after, input.invalid:focus:not([type]) + label::after, input.invalid[type="text"]:not(.browser-default) + label::after, input.invalid[type="text"]:focus:not(.browser-default) + label::after, input.invalid[type="password"]:not(.browser-default) + label::after, input.invalid[type="password"]:focus:not(.browser-default) + label::after, input.invalid[type="email"]:not(.browser-default) + label::after, input.invalid[type="email"]:focus:not(.browser-default) + label::after, input.invalid[type="url"]:not(.browser-default) + label::after, input.invalid[type="url"]:focus:not(.browser-default) + label::after, input.invalid[type="time"]:not(.browser-default) + label::after, input.invalid[type="time"]:focus:not(.browser-default) + label::after, input.invalid[type="date"]:not(.browser-default) + label::after, input.invalid[type="date"]:focus:not(.browser-default) + label::after, input.invalid[type="datetime"]:not(.browser-default) + label::after, input.invalid[type="datetime"]:focus:not(.browser-default) + label::after, input.invalid[type="datetime-local"]:not(.browser-default) + label::after, input.invalid[type="datetime-local"]:focus:not(.browser-default) + label::after, input.invalid[type="tel"]:not(.browser-default) + label::after, input.invalid[type="tel"]:focus:not(.browser-default) + label::after, input.invalid[type="number"]:not(.browser-default) + label::after, input.invalid[type="number"]:focus:not(.browser-default) + label::after, input.invalid[type="search"]:not(.browser-default) + label::after, input.invalid[type="search"]:focus:not(.browser-default) + label::after, textarea.materialize-textarea.invalid + label::after, textarea.materialize-textarea.invalid:focus + label::after, .select-wrapper.invalid + label::after {
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
}

form i {
  margin-top: 15px !important;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 80%;
  left: 41%;
}

.error-margin {
  margin-bottom: 35px;
}