.required::after {
  content: " *";
  color: red;
}

label {
  width: 100%;
}

.input-field label {
  font-size: 1.2rem;
}

.bottom5 {
  padding-bottom: 5px;
}

input.invalid:not([type]) + label::after, input.invalid:focus:not([type]) + label::after, input.invalid[type="text"]:not(.browser-default) + label::after, input.invalid[type="text"]:focus:not(.browser-default) + label::after, input.invalid[type="password"]:not(.browser-default) + label::after, input.invalid[type="password"]:focus:not(.browser-default) + label::after, input.invalid[type="email"]:not(.browser-default) + label::after, input.invalid[type="email"]:focus:not(.browser-default) + label::after, input.invalid[type="url"]:not(.browser-default) + label::after, input.invalid[type="url"]:focus:not(.browser-default) + label::after, input.invalid[type="time"]:not(.browser-default) + label::after, input.invalid[type="time"]:focus:not(.browser-default) + label::after, input.invalid[type="date"]:not(.browser-default) + label::after, input.invalid[type="date"]:focus:not(.browser-default) + label::after, input.invalid[type="datetime"]:not(.browser-default) + label::after, input.invalid[type="datetime"]:focus:not(.browser-default) + label::after, input.invalid[type="datetime-local"]:not(.browser-default) + label::after, input.invalid[type="datetime-local"]:focus:not(.browser-default) + label::after, input.invalid[type="tel"]:not(.browser-default) + label::after, input.invalid[type="tel"]:focus:not(.browser-default) + label::after, input.invalid[type="number"]:not(.browser-default) + label::after, input.invalid[type="number"]:focus:not(.browser-default) + label::after, input.invalid[type="search"]:not(.browser-default) + label::after, input.invalid[type="search"]:focus:not(.browser-default) + label::after, textarea.materialize-textarea.invalid + label::after, textarea.materialize-textarea.invalid:focus + label::after, .select-wrapper.invalid + label::after {
  font-size: 1.0rem;
}


.input-field label.active:not(.label-icon) {
  -webkit-transform: translateY(-28px);
  transform: translateY(-28px);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.modal {
  border-radius: 10px;
}

#changeRoleModal {
  max-height: 400px !important;
  max-width: 600px !important;
}

#changeRoleModal label {
  font-size: 1.2rem;
}

textarea.materialize-textarea.validate + label.active:not(.label-icon) {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}

.input-field i {
  margin-top: 15px;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.input-field i.active {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}

/* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. */
/*.modal-content { max-height: 100% !important ; overflow-y: hidden !important ;}  !* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. *!*/

.multiple-FAB {
  position: relative;
  display: inline-block;
  /*right: 24px;*/
  top: 0;
}

#eventFABs a {
  top: -15px;
}

.trainings-icon4 {
  height: 60px;
  width: 60px;
  background: url('./../icons-images/training_icon4.png') round;
}

.event-type-icon {
  font-family: 'Quicksand', sans-serif;
  font-size: x-large;
}

.standard-cursor {
  cursor: default;
}

.list-bottom {
  margin-top: 30px;
}

.which-event-type-show-btn {
  margin-right: 10px;
}

/* Begin of Preloader */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  /*background: #222222;*/
  background: white;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%); /* IE 9 */
  transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%); /* IE 9 */
  transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

  -webkit-transition: all 0.7s 0.3s ease-out;
  transition: all 0.7s 0.3s ease-out;
}

.loaded #loader-wrapper {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  -webkit-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out;
}

.no-js #loader-wrapper {
  display: none;
}

.no-js h1 {
  color: #222222;
}

/* End of Preloader */

@media screen and (min-width : 993px) {
  #accountModal {
    max-height: 500px !important;
    max-width: 50% !important;
  }

  .modal {
    max-height: 100% !important;
    overflow-y: hidden !important;
  }
}
label::after {
  margin-bottom: 50px;
}

.input-margin {
  margin-bottom: 25px;
}

/* For indicating that account has been banned*/

.banned::after {
  max-width: 0 !important;
  font-weight: bold;
  opacity: 0.7;
  content: "banned";
  color: red;
  font-size: xx-large;
  letter-spacing: 100px;
  text-transform: uppercase;
  ms-transform: translate(-1000px, 20px);
  webkit-transform: translate(-1000px, 20px);
  transform: translate(-1000px, 20px);
  display: inline-block;
}

.banned {
  background-color: lightgrey;
}

.buttons-column {
  min-width: 150px;
  width: 150px;
}

.logo {
  height: 64px;
  width: 64px;
}


.column-min-width {
  min-width: 120px;
}

.role-column-min-width {
  min-width: 80px;
  max-width: 80px;
  /*width: 100px !important;*/
}

.event-type-on-card {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2.5rem;
  height: 55px;
  width: 55px;
  line-height: 55px;
}

.request {
  border: 1px solid;
  border-radius: 5px;
}

.site-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6rem;
  color: black;
}

nav i.left {
  margin-right: 5px;
}

a.breadcrumb:last-of-type{
  color: #fff;
}

.fixed-action-btn {
  position: relative;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  padding: 0;
}
#events-filter a:hover {
  background-color: #37b7ab;
}

.event-table-action-buttons-col-min-width {
  min-width: 150px;
}

.event-type-col-min-width {
  min-width: 40px;
}

.date-time-col-width {
  min-width: 200px;
}

.place-col-width {
  min-width: 150px;
}

.teacher-col-width {
  min-width: 120px;
}

.event-type-icon2 {
  font-size: 2.5rem;
  height: 55px;
  width: 55px;
  line-height: 55px;
}

.event-detail {
  margin: 30px 0;
  font-size: 1.2rem;
}

.event-detail > i {
  margin-top: -2px;
}

.review {
  /*background: #d7d7d7;*/
  background: #f5f2f0;
  border-radius: 5px;
}

.review span {
  font-size: 1.2rem;
}

.review p {
  padding: 0 10px;
  color: #777;
}

span.badge {
  float: none;
}

li {
  user-select: none;
}

.slip-swiping-container {
  overflow-x: hidden;
}

.slip-reordering {
  box-shadow: 0 2px 10px rgba(0,0,0,0.45);
}

li {
  position: relative;
}

a.breadcrumb:before {
  color: #009688;
}

#hr-dropdown {
  width: 200px;
}

#account-dropdown {
  width: 150px;
}

#admin-dropdown {
  width: 135px;
}

#user-dropdown {
  width: 135px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.side-nav a {
  color: #444;
  font-weight: 600;
}

nav ul li.active > a {
  color: #00bcd4;
}

.page-description {
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 600px) {
  div[name=eventTypeSelector] {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
}

@media screen and (min-width : 320px) {
}
@media screen and (min-width: 680px) {
}
@media screen and (min-width : 993px) {
  #SU-name {
    min-width: 150px;
  }
  #SU-date {
    min-width: 210px;
  }
  #SU-seats {
    min-width: 55px;
  }
  #SU-actions {
    min-width: 95px;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}